/* Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Generic */



/* Utilities */
.container {
    max-width: 1300px;
    margin: 0 auto;
}

.border {
    border: 2px dashed black;
}

.top {
    min-height: 70px;
}

.multi {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.bar {
    min-height: 40px;
    background-color: goldenrod;
}

.external {
    width: 20%;
}

.prime {
    width: 60%;
}

.device {
    min-height: 400px;
    width: 900px;
    background-color: palevioletred;
}

.image {
    min-height: 500px;
    background-color: aqua;
}

.description-image {
    min-height: 500px;
    background-color: pink;
    flex-grow: 1;
}

.grey {
    background-color: lightslategray;
}

.function {
    min-height: 600px;
}

.down {
    min-height: 700px;
}

.green {
    background-color: green;
}

.pad {
    padding-top: 50px;
}

#navbar {
    min-height: 70px;
    background-color: lightblue;
}

#download {
    min-height: 500px;
    background-color: blue;
}